<h1>New Recipe Form</h1>

<%= form_for(@recipe) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %><br>

    <%= f.label :img_url %>
    <%= f.text_field :img_url %><br>

    <%= f.submit %>
<% end %>